@import "tailwindcss";
@import "./code.css";

@plugin "@tailwindcss/typography";
@plugin "./plugins/bg-grid.ts";
@plugin "./plugins/scrollbar.ts";

@source "./**/*.{js,jsx,ts,tsx}";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: rgb(37, 99, 235);
  --color-primary-light: rgb(219, 234, 254);
  --color-primary-dark: rgb(29, 78, 216);
  --color-tooltip-foreground: rgb(255, 255, 255);
  --color-background-dark: rgb(8, 10, 20);
}

@layer base {
  html {
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}

@utility border-standard {
  border-width: 1px;
  border-color: rgb(229 231 235 / 70%);

  &:is(.dark *) {
    border-color: rgb(255 255 255 / 10%);
  }
}

@utility overflow-wrap-anywhere {
  overflow-wrap: anywhere;
  word-break: break-word;
  hyphens: auto;
}
